{% extends "base.html" %}

{% block title %} Home - Koitech {% endblock %}

{% block content %}
<!-- banner -->
<section class="banner">
  <div class="overlay">
    <h2>Análise do Censo na Cidade de <br />São José dos Campos</h2>
  </div>
</section>
<section class="botoesGraficos">
  <a href="/proporcao">PROPORÇÃO JOVEM</a>
  <a href="/empregados">JOVENS EMPREGADOS</a>
  <a href="/instrucao">NÍVEL DE INSTRUÇÃO</a>
</section>
<section class="botoesGraficos">
  <a href="/etaria">DISTRIBUIÇÃO ETÁRIA</a>
  <a href="#">SUPERIOR EM CIÊNCIA DA COMPUTAÇÃO</a>
  <a href="#">DISTRIBUIÇÃO SALARIAL</a>
</section>
<!-- fim banner -->

<!-- conteúdo principal (gráficos e filtros) -->
<!-- fim conteúdo principal -->

{% endblock %}