<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/reset.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <main>
      <!-- header -->
      <header>
        <figure>
          <img
            src="{{ url_for('static', filename='assets/logo.png') }}"
            alt="logo"
            width="90px"
          />
          <h1>KOITECH</h1>
        </figure>
        <nav>
          <a href="/">HOME</a>
          <a href="/sobre">SOBRE</a>
          <a href="#">GRÁFICOS</a>
        </nav>
      </header>
      <!-- fim header -->

      <!-- banner -->
      <section class="banner">
        <div class="overlay">
          <h2>Análise do Censo na Cidade de <br />São José dos Campos</h2>
        </div>
      </section>
      <!-- fim banner -->

      <!-- conteúdo principal (gráficos e filtros) -->
      <summary class="tituloGrafico">PIRÂMIDE ETÁRIA</summary>

      <!-- para aplicação futura -->
      <aside class="filtros">FILTROS</aside>
      
      <article class="graficos">
        <img src="{{ url_for('static', filename='assets/2010etario.png') }}">
        <img src="{{ url_for('static', filename='assets/2022etario.png') }}">
      </article>
      <!-- fim conteúdo principal -->

      <!-- rodapé -->
      <footer>koitech - 2025</footer>
      <!-- fim rodapé -->
    </main>
  </body>
</html>
