body {
    font-family: Arial;
    font-weight: bold;
}

/* =================== */
/* LAYOUT PRINCIPAL    */
/* CUIDADO AO ALTERAR  */
/* =================== */
main {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    gap: 1rem;
    padding-top: 90px;
    grid-column: 1 / 5;
    margin-bottom: 1rem;
}

/* =================== */
/* HEADER              */
/* =================== */
header {
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFEFC;
    border-bottom: 2px solid #821D18;

    /*fixa o header*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav {
    margin: 1rem;
}

nav a {
    padding: 6px 15px;
    border: 2px solid #821D18;
    border-radius: 6px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    background-color: lightgray;
    transition: 0.5s;
}

/* =================== */
/* LOGO KOITECH        */
/* =================== */
figure {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 1rem;
}

figure img {
    width: 50px;
    height: 50px;
}

/* =================== */
/* BANNER INDEX.HTML   */
/* =================== */
.banner {
    grid-column: 1 / 5;
    height: 80vh;
    background: url("../assets/sjc.jpg") no-repeat center center/cover;
    display: grid;
    justify-content: center;
    align-items: center;
}

.overlay {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    height: 60vh;
    width: 70vw;
    font-size: 50pt;
    color: white;
    text-align: center;
    align-content: center;
}


/* =================== */
/* GRÁFICOS INDEX.HTML */
/* =================== */
.tituloGrafico {
    background-color: #1A377C;
    padding: 10px;
    grid-column: 2/ 4;
    text-align: center;
    color: white;
    border-radius: 5px;
}

.graficos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: 2/ 4;
    border-radius: 5px;
}

.graficos div {
    width: 100%;
}

.interpretacaoGraficos {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: #f0f0f0da;
    grid-column: 2/ 4;
    border-radius: 5px;

}

.interpretacaoGraficos h1 {
    font-size: 20pt;
}

.interpretacaoGraficos h2 {
     font-size: 18pt;
     margin-bottom: 1rem;
}

.interpretacaoGraficos h3 {
     font-size: 16pt;
}

.interpretacaoGraficos p {
    margin-left: 1rem;
}

.interpretacaoGraficos div {
    margin-bottom: 1rem;
}

/* =================== */
/* FOOTER              */
/* =================== */
footer {
    background-color: #f7f7f7;
    padding: 10px;
    grid-column: 1/ 5;
    text-align: center;
    border-top: 2px solid #821D18;
}

/* =================== */
/* MEDIA QUERIES       */
/* =================== */
@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    .overlay h2 {
        font-size: 30pt;
    }

    .tituloGrafico {
        font-weight: bold;
    }

    .graficos {
        display: flex;
        flex-direction: column;
        background-color: #d8d8d8;
        grid-column: 2/ 4;
        border-radius: 5px;
    }

    .graficos img {
        max-width: 100%;
        margin: 0.5rem;
        border-radius: 5px;
    }
}

@media screen and (max-width: 640px) {
    .overlay h2 {
        font-size: 20pt;
    }
}